<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About project</title>
</head>
<body leftmargin="50" topmargin="50">
<div>
    {% if user.is_authenticated %}
    <p>
        Welcome, {{ user.username }}.
        <a href="{% url 'logout' %}">Выход</a>
    </p>
    {% else %}
    <p>
        Welcome, please log in.
        <a href="{% url 'login' %}">Вход</a>
        <a href="{% url 'user-registration' %}">Зарегистрироваться</a>
    </p>
    {% endif %}

</div>
    <h1>Идея проекта</h1>
    <h2>MySkills</h2>
    <pre>Сайт, где можно следить за своим прогрессом по получению навыков

Основное:
    - Страница пользователя с информацией
    - Страница навыков пользователя, где можно добавить новый или отредактировать существующий
    - Общая страница всех навыков всех пользователей, откуда пользователь может добавить какой-либо скилл себе
    - Скилл имеет статус (not started/in progress/finished/failed)
    - Скиллы имеют теги категорий (пример: "Научиться рисовать" имеет теги "Творчество" и "Искусство")
    - На странице скилла пользователь может добавлять комментарии о своих успехах
    - Пользователь может добавлять друзей

Возможно:
   - Скиллы могут иметь родительские и дочерние скиллы (пример: скилл "Научиться рисовать" имеет подскилл "Научиться рисовать акварелью")
   - Пользователь может получать медальки за какие-либо достижения

    </pre>
</body>
</html>