{% extends 'base.html' %}

{% block title %}
    About
{% endblock %}

{% block body %}

    <div>
        <h1>About
        <span class="badge bg-secondary">New</span>
        </h1>
    </div>
    <div class="fs-3">
        The Beatles:
    </div>

    <div class="shadow p-3 mb-5 bg-body rounded">
        The Beatles («Битлз», МФА: [ðə ˈbiː.tlz]; также группу называют «Ливерпульской четвёркой» (англ. Liverpool Four); отдельно участников ансамбля называют «битлами»; в английском языке также распространено упоминание группы как Fab Four — «Великолепная четвёрка»[7]) — британская рок-группа из Ливерпуля, основанная в 1960 году, в составе которой играли Джон Леннон, Пол Маккартни, Джордж Харрисон и Ринго Старр. Также в разное время в составе группы выступали Стюарт Сатклифф, Пит Бест и Джимми Никол. Большинство композиций The Beatles созданы в соавторстве и подписаны именами Джона Леннона и Пола Маккартни. Дискография группы включает 13 официальных студийных альбомов, изданных в 1963—1970 годах, и 211 песен.
    </div>

{% endblock %}

