<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About project</title>
</head>
<body leftmargin="50" topmargin="50">
    <h1>Идея проекта</h1>
    <h2>MySkills</h2>
    <pre>Сайт, где каждый может следить за своим прогрессом по получению навыков

Основное:
    - На странице профиля будут размещены скиллы, над которыми человек работает
    - Скилл имеет бар заполнения и статус (not started/in progress/finished/failed)
    - Скиллы могут иметь родительские и дочерние скиллы (пример: скилл "Научиться рисовать" имеет подскилл "Научиться рисовать акварелью")
    - Скиллы имеют теги направлений (пример: "Научиться рисовать" имеет теги "Творчество" и "Искусство")
    - Пользователь может получать ачивки (медальки)
    - На странице скилла пользователь может добавлять комментарии о своих успехах
    - Пользователь может добавлять друзей
    - Можно оставлять комментарии на страницах пользователей

    </pre>
<!--    <ul>-->
<!--        {% for user_skills_profile in user_skills_profiles %}-->
<!--            <li>{{ user_skills_profile. }}</li>-->
<!--        {% endfor %}-->
<!--    </ul>-->
</body>
</html>