<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About project</title>
</head>
<body leftmargin="50" topmargin="50">
    <h1>Идея проекта</h1>
    <h2>MySkills</h2>
    <pre>Сайт, где каждый может следить за своим прогрессом по получению навыков

Основное:
    - На странице профиля будут размещены скиллы, над которыми человек работает
    - Скилл имеет бар заполнения и статус (not started/in progress/finished/failed)
    - Скиллы могут иметь родительские и дочерние скиллы (пример: скилл "Научиться рисовать" имеет подскилл "Научиться рисовать акварелью")
    - Скиллы имеют теги направлений (пример: "Научиться рисовать" имеет теги "Творчество" и "Искусство")
    - Пользователь может получать ачивки (медальки)
    - На странице скилла пользователь может добавлять комментарии о своих успехах
    - Пользователь может добавлять друзей
    - Можно оставлять комментарии на страницах пользователей


Реализация:
        1. При авторизации пользователь попадает на свою страницу
        2. Страница пользователя:
            - фото (emoji)
            - скиллы пользователя
        3. Страница скилла конкретного пользователя
            - картинка (emoji)
            - бар заполнения
            - комментарии
            - прогресс рассчитывается так:
                    пользователь задает количество тем, которые нужно пройти
                    каждую пройденную тему пользователь отмечает
                    progress_percent = completed / all

TODO:
        - оптимизировать запросы
        - прикрутить PG
        - добавить красоты (boostrap?)
        - добавить авторизацию через соцсети
        - добавить возможность размещать скиллы как личные/публичные
        - публичные скиллы видны в открытом списке всех скиллов

    </pre>
<!--    <ul>-->
<!--        {% for user_skills_profile in user_skills_profiles %}-->
<!--            <li>{{ user_skills_profile. }}</li>-->
<!--        {% endfor %}-->
<!--    </ul>-->
</body>
</html>