<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About project</title>
</head>
<body leftmargin="50" topmargin="50">
<div>
    {% if user.is_authenticated %}
    <p>
        Hello, {{ user.username|default:'Guest' }}!
        <a href="{% url 'logout' %}">Log out</a>
        <a href="{% url 'password-change' %}">Change password</a>
    </p>
    {% else %}
    <p>
        Welcome, please log in.
        <a href="{% url 'login' %}">Sign in</a>
        <a href="{% url 'user-registration' %}">Register</a>
    </p>
    {% endif %}
</div>

    <h1>Идея проекта</h1>
    <h2>MySkills</h2>
    <pre>Сайт, где каждый может следить за своим прогрессом по получению навыков

Основное:
    - На странице профиля будут размещены скиллы, над которыми человек работает
    - Скилл имеет бар заполнения и статус (not started/in progress/finished/failed)
    - Скиллы могут иметь родительские и дочерние скиллы (пример: скилл "Научиться рисовать" имеет подскилл "Научиться рисовать акварелью")
    - Скиллы имеют теги направлений (пример: "Научиться рисовать" имеет теги "Творчество" и "Искусство")
    - Пользователь может получать ачивки (медальки)
    - На странице скилла пользователь может добавлять комментарии о своих успехах
    - Пользователь может добавлять друзей
    - Можно оставлять комментарии на страницах пользователей


Реализация:
        1. При авторизации пользователь попадает на свою страницу
        2. Страница пользователя:
            - фото (emoji)
            - скиллы пользователя
        3. Страница скилла конкретного пользователя
            - картинка (emoji)
            - бар заполнения
            - комментарии
            - прогресс рассчитывается так:
                    пользователь задает количество тем, которые нужно пройти
                    каждую пройденную тему пользователь отмечает
                    progress_percent = completed / all

TODO:
        - оптимизировать запросы
        - прикрутить PG
        - добавить красоты (boostrap?) https://docs.djangoproject.com/en/3.2/ref/templates/language/
        - добавить авторизацию через соцсети https://realpython.com/django-user-management/
        - добавить возможность размещать скиллы как личные/публичные
        - публичные скиллы видны в открытом списке всех скиллов
        - лучше разобраться с пермишенами https://realpython.com/manage-users-in-django-admin/

    </pre>
</body>
</html>