<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User skill details</title>
</head>
<body>
  <h1>{{ username }} skills: {{ object.name }}</h1>

  <p> Status: {{ object.status }}</p>
  <p> Description: {{ object.description }}</p>
  <div>
    {% if user.username == username or perms.skillprofile.change_skill %}
      <button><a href="{% url 'user-skill-update' username object.slug %}">Edit</a></button>
    {% endif %}
    {% if user.username == username or perms.skillprofile.delete_skill %}
      <button><a href="{% url 'user-skill-delete' username object.slug %}">Delete</a></button>
    {% endif %}
  </div>
  <p><a href="{% url 'all-user-skills' username %}">Back to {{ username }}'s skills list</a></p>
</body>
</html>

