{% extends 'books/base.html' %}

{% block title %}
    Add new book
{% endblock %}

{% block body %}
 <div>
    <h3>Add new book! 📕</h3>
    <form method="post">
      <p>
        <label for="book-name-id">Title:</label><br>
        <input class="" id="book-name-id" name="book-title" type="text"
               placeholder="The Three Musketeers">
<!--               required-->

      </p>
      <p>
        <label for="book-name-id">Author:</label><br>
        <input class="" id="book-name-id" name="book-author" type="text"
               placeholder="Alexandre Dumas">
<!--               required-->

      </p>
      <button class="btn btn-primary" type="submit">Add</button>
    </form>
  </div>
{% endblock %}
